<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>CMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>web.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActionServlet</display-name>
    <servlet-name>ActionServlet</servlet-name>
    <servlet-class>web.CheckEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActionServlet</display-name>
    <servlet-name>CheckAdmin</servlet-name>
    <servlet-class>web.CheckAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckAdmin</servlet-name>
    <url-pattern>*.dp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Info</servlet-name>
    <servlet-class>web.AddEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Info</servlet-name>
    <url-pattern>/addemp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckcodeServlet</servlet-name>
    <servlet-class>web.CheckcodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckcodeServlet</servlet-name>
    <url-pattern>/checkcode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mainWeb</display-name>
    <servlet-name>mainWeb</servlet-name>
    <servlet-class>web.mainWeb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mainWeb</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePassword</display-name>
    <servlet-name>UpdatePassword</servlet-name>
    <servlet-class>web.UpdatePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePassword</servlet-name>
    <url-pattern>/UpdatePassword</url-pattern>
  </servlet-mapping>
  <!-- 孙玉壮 -->
  <servlet>
    <description></description>
    <display-name>delectServlet</display-name>
    <servlet-name>delectServlet</servlet-name>
    <servlet-class>web.delectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delectServlet</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>msgadd</servlet-name>
    <servlet-class>web.Message_add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>msgadd</servlet-name>
    <url-pattern>/msg_add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Message_infoServlet</display-name>
    <servlet-name>Message_infoServlet</servlet-name>
    <servlet-class>web.Message_infoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Message_infoServlet</servlet-name>
    <url-pattern>/message_info</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Message_replayServlet</display-name>
    <servlet-name>Message_replayServlet</servlet-name>
    <servlet-class>web.Message_replayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Message_replayServlet</servlet-name>
    <url-pattern>/Message_replay</url-pattern>
  </servlet-mapping>
  <!-- 水果修改信息 -->
  <servlet>
  <servlet-name>update_fruit</servlet-name>
  <servlet-class>web.Update_fruit</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>update_fruit</servlet-name>
  <url-pattern>*.ft</url-pattern>
  </servlet-mapping>
</web-app>